<div>
    <app-code-view 
        [mutable]="shouldEdit()"
        [code]="codeShare.code"
        (codeChangeEvent)="setCode($event)"
        (isEditingEvent)="disableOnEdit($event)"
    ></app-code-view>
    <!-- needs nGIf -->
    <app-code-view-options
        *ngIf="!shareId"
        (mutableCheckboxEvent)="setMutable($event)"
    ></app-code-view-options>
    <button 
        id="submit"
        name="submit"
        [disabled]="submitDisabled" 
        (click)="handleSubmit()"
    >
        {{ submitDisabled ? disabledMessage : enabledMessage }}
    </button>
</div>